html {
    font-family: 'Fredoka', sans-serif;
    font-family: 'Roboto', sans-serif;
    color: #23272a;
    font-weight: 400;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 900px;
    margin: 0 auto;
}

.row {
    display: flex;
}

.justify-between {
	justify-content: space-between;
}

.align-center {
    align-items: center;
}

/* header */
.page-header {
    padding: 10px;
    background-color: #3161e0;
}

.page-menu {
   display: flex;
}

.page-menu a {
    padding: 20px 10px;
    color: white;
    text-decoration: none;
}

/* hero section */
.hero-section {
    background-image: url(../img/jumbo.png);
}

.hero-section .row {
    justify-content: center;
}

/* main */
section {
    padding: 30px 0;
}

/* footer */
.page-footer {
    padding-top: 20px;
}

.page-footer .row {
    justify-content: space-between;
    align-items: center;
}
 

/* button */
.white-button {
    background-color: white;
    border-radius: 50px;
    padding: 7px 15px;
}


/* columns & bg-sections */
.col-10 {
    flex-basis: calc((100% / 12) * 100);
}


.col-25 {
    flex-basis: 25%;
}

.col-30 {
    flex-basis: 30%;
}

.col-35 {
    flex-basis: 35%;
}

.col-65 {
    flex-basis: 65%;
}

.col-70 {
    flex-basis: 70%;
}

.col-100 {
    flex-basis: 100%;
}

.reverse {
    flex-direction: row-reverse;
}

.lgrey-bg {
    background-color: #d3d3d3;
}

.dgrey-bg {
    background-color: #23272a;
}


/* typogtraphy */
.bt-12 {
    font-size: 12px;
}

.bt-14 {
    font-size: 14px;
}
















/* DEBUG */

/* debug header */
.debug .page-header {
    background-color: #add8e6;
    min-height: 60px;
}

.debug .page-header [class^='col'] {
	background-color: #daa520;
	border: 2px dashed black;
	padding: 20px;
}

/* debug hero section */

.hero-section .col-70 {
    background-color: #ee81ee;
}

/* debug footer */
.debug .page-footer {
    border-top: #FFFFFF;
    border-style: solid;
}

.page-footer .container {
    background-color: #7fffd3;
    min-width:  40px;
}
.page-footer .row {
    min-height: 50px;
}

.debug [class^='col-'] {
    border: #23272a;
    border-style: dashed;
    border-width: 2px;
    min-height: 300px;
}

.debug .col-25 {
    background-color: #20b1a9;
    min-height: 400px;
    border: #FFFFFF;
    border-style: dashed;
    border-width: 2px;
}

.debug .col-30 {
    background-color: #ef8080;
    min-height: 400px;
}

.debug .col-35 {
    background-color: #fec0ca;
}

.debug .col-65 {
    background-color: #1c90ff;
}

.debug .col-100 {
    background-color: #228b21;
    min-height: 600px;
}